################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/noSQL
/noSQL/bin/Debug/netcoreapp2.1
*.cache
*.CopyComplete
*.dll
*.pdb
*.cs
/noSQL/obj
/noSQL/bin/Release/netcoreapp2.1
/noSQL/Properties/PublishProfiles
